
PySide2==5.15.2.1
gpiozero==1.6.2
pigpio==1.78
pyserial==3.5
nidaqmx==0.6.4
click==8.1.3
opencv-python==4.7.0.68
opencv-contrib-python==4.5.2.54
numpy>=1.14.5
pandas==1.5.0
scikit-learn== 0.24.1
scikit-image==0.17.2
scipy==1.4.1
pure-predict==0.0.4
numba==0.56.0
